*{
    margin: 0;
    padding: 0;
    text-align: center;
}
#home-page{

    width: 100vw;
    height: 100vh;
    background-color: honeydew;
    text-align: center;
}

#welcome-text{
    padding-top: 2%;
    color: rgb(61, 119, 43);
}

#box {
    background-color: #abd9ff;
    margin: 50px;
    width: 200px;
    height: 200px;
}

#reset-circle {
    position: absolute;
    left: 90%;
    top: 83%;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 162, 162);
    border-radius: 50%;
    cursor: pointer;
}
